* {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }

body{
    background: url('/static/images/background-image.avif');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.title {
    text-align: center;
    font-size: 4rem;
}
/* 
main {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: space-between;
} */

.nav {
    padding-left: 2rem;
    text-align: left;
    max-width: fit-content;
    margin: 0;
    display: flex;

}


.nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;
}

.destination-container {
    gap: 2rem;
    padding: 2rem;
}

.destination-container__title {
    text-decoration: underline;
}

.container.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero__title {
    font-size: 40px;
    font-weight: bold;
}

.hero__left {
    width: 40%;
}

.hero__image {
    max-width: fit-content;

}
.hero__paragraph {
    font-size: 1.5rem;
}

.hero__container {
    display: flex;
    height: 100%;
}

.button {
    background-color: #999475;
    color: black;
    border-radius: 5px;
    padding:16px 32px;
    font-weight: bold;
    border-style: none;
    width: 150px;   
}

/* .button--secondary {
    background-color: #c3bc9564;
    border: 1.5px solid rgba(51, 51, 51, 0.395);
} */

.destination-container {
    background-color:#c3bc958e ;
    border: 1px solid black;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.destinations-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.destination-containers {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:3rem;
}

.add-country.button {
    display: flex;
    justify-content: center;
}

.destination-container__header {
padding-top: 1rem;
padding-bottom: 0.5rem;
}

.destination-container__title {
    text-align: center;
}

.destination-container > ul {
    display: flex;
    justify-content: space-between;
}

.my_list-form {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    font-size: 1.75rem;
}


.visited-lists {
   display: flex;
   justify-content: center;
   gap: 6rem;
   padding-top: 3rem;
   text-align: center;
   font-size: 2rem;
}

.visited-lists-header {
    text-decoration: underline;
}

input.checkbox {
    width: 2rem;
    height: 2rem;
}

.edit-country-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}